@inherits BasePage
@page "/"
@page "/{profileIdString}/"

<PageTitle>GameTools :: Home</PageTitle>

@if (IsAuthenticated) {
    <p>Your unique user-session URL is <a href="@($"/{ProfileId}/")">this url</a>.</p>
    <p>Please bookmark this URL for future visits to the same persistent state.</p>
    <p>You can also bookmark sub-pages, as they too will contain your unique ID in the url.</p>
    <p>Note that not all the tools here will have persistent state.</p>
    <p>Note that no personal information is gathered beyond normal network traffic and what you provide in the profile configuration.</p>
    <p>Your name, email address, etc. is not collected, nor processed.</p>
    <p>You can, however, add your <a href="https://pushover.net" target="_blank">pushover.net</a> user key, to get pushover notifications
        from the timers application. This will not be shared with anyone, nor abused for anything but the timers.</p>

    <p>
        <b>NOTE!</b> Since no email or other user id information is gathered, if you lose access to your URL there will be no automatic reclaim function to gain access.
        If you lose access to your URL, please <a href="mailto:lasse@vkarlsen.no">contact me</a> for help.
    </p>
}
else {
    <div>
        <p>You need a user-session for this site.</p>
        <p>This user-session can be bookmarked and shared to gain access to the same settings, for those pages that have persistent state.</p>
        <p>Note that no personal information is gathered beyond normal network traffic and what you provide in the profile configuration.</p>
        <p>Your name, email address, etc. is not collected, nor processed.</p>

        <p>
            <b>NOTE!</b> Since no email or other user id information is gathered, if you lose access to your URL there will be no automatic reclaim function to gain access.
            If you lose access to your URL, please <a href="mailto:lasse@vkarlsen.no">contact me</a> for help.
        </p>
        <RadzenButton Click="CreateSession" Text="Click here to create session" />
    </div>
}

<hr/>

<RadzenText TextStyle="TextStyle.DisplayH5" Text="Privacy Policy" Style="margin-top: 2rem;" />
<p>This website does not share any of your data with any third party services or organizations.</p>
<p>This website does not force you to enter any personal identifiable information to use it.</p>
<p>If you opt to enter your Pushover key, or your name, in the profile page, this will not be shared with anyone.</p>
<p>Please take care not to enter any personal or sensitive information in any of the subpages of this application. While none of it
    will be shared with anyone, or any other services, you should always try to minimze the impact surface.</p>
<p>The application uses cookies to handle basic information, such as theme selection and cross-site antiforgery. There are no
tracking cookies that are shared with any other services.</p>
<p>The application does not use any third party services or organizations for handling information. It uses the Material fonts
    from Google, and the Radzen components for Blazor.</p>

@if (_version != null)
{
    <hr/>
    <span>Application version: <a target="_blank" href="https://github.com/lassevkarlsen/GameTools/commit/@_version">@_branch/@_version[0..8]</a></span>
}
