@inherits BasePage
@page "/"
@page "/{profileIdString}/"

<PageTitle>GameTools :: Home</PageTitle>

@if (IsAuthenticated) {
    <p>Your unique user-session URL is <a href="@($"/{ProfileId}/")">this url</a>.</p>
    <p>Please bookmark this URL for future visits to the same persistent state.</p>
    <p>Note that not all the tools here will have persistent state.</p>
    <p>Note that no personal information is gathered beyond normal network traffic and what you provide in the profile configuration.</p>
    <p>Your name, email address, etc. is not collected, nor processed.</p>

    <p>
        <b>NOTE!</b> Since no personal information is gathered, if you lose access to your URL there will be no automatic reclaim function to gain access.
        If you lose access to your URL, please <a href="mailto:lasse@vkarlsen.no">contact me</a> for help.
    </p>
}
else {
    <div>
        <p>You need a user-session for this site.</p>
        <p>This user-session can be bookmarked and shared to gain access to the same settings, for those pages that have persistent state.</p>
        <p>Note that no personal information is gathered beyond normal network traffic and what you provide in the profile configuration.</p>
        <p>Your name, email address, etc. is not collected, nor processed.</p>

        <p>
            <b>NOTE!</b> Since no personal information is gathered, if you lose access to your URL there will be no automatic reclaim function to gain access.
            If you lose access to your URL, please <a href="mailto:lasse@vkarlsen.no">contact me</a> for help.
        </p>
        <RadzenButton Click="CreateSession" Text="Click here to create session" />
    </div>
}

@if (_version != null)
{
    <a target="_blank" href="https://github.com/lassevkarlsen/GameTools/commit/@_version">@_branch/@_version[0..8]</a>
}
