name: Deploy to test

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  deploy:
    runs-on: [ self-hosted, arxas ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true
          fetch-depth: 0
          submodules: recursive

      - name: Setup .NET 10
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --no-build --configuration Release --verbosity normal

      - name: Publish
        run: dotnet publish GameTools/GameTools.csproj --configuration Release --output ./publish --no-build

      - name: Stop Docker Compose services
        working-directory: /mnt/secure1/GameTools-dev
        run: docker compose down

      - name: Deploy application
        run: |
          rm -rf /mnt/secure1/GameTools-dev/application/*
          cp -r ./publish/* /mnt/secure1/GameTools-dev/application

      - name: Extract branch name
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
        id: extract_branch

      - name: Write git id to file
        run: |
          echo "${GITHUB_SHA}" > /mnt/secure1/GameTools-dev/application/git_id.txt
          echo "{{ steps.extract_branch.outputs.branch }}" >> /mnt/secure1/GameTools-dev/application/git_id.txt

      - name: Start Docker Compose services
        working-directory: /mnt/secure1/GameTools-dev
        run: docker compose up -d --build